@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;

}

body {
    background-color:#f3eeee;
}

.header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo img {

    height: 40px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /*nombre de animacion*/

}


.navbar a {

    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500px;
    margin: 0 20px;
    transition: 0.3s;

}

.navbar a:hover,
.navbar a.seleccionada {
    color: #9b0910;
}


.socialmedia {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
   
}

.socialmedia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: 5s;
}


.socialmedia a:hover {
    border-color: white;
}

.socialmedia a i {
    font-size: 24px;
    color: white;
    transform: rotate(-45deg);
}


.info {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;

}

.info_contexto {
    max-width: 630px;
    padding-top: 10px;

}

.info_contexto h1 {
    font-size: 70px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    /*nombre de animacion*/
    animation-delay: 1s;

}

.info_contexto h3 {
    font-size: 60px;
    color: #9b0910;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /*nombre de animacion*/
    animation-delay: 1.3s;

}

.info_contexto p {
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    /*nombre de animacion*/
    animation-delay: 1.6s;
}

.btn {

    display: inline-block;
    padding: 10px 28px;
    background: #9b0910;
    border: 2px solid #9b0910;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font: weight 600;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    /*nombre de animacion*/
    animation-delay: 1.6s;
}


.btn:hover {
    background: transparent;
    color: #9b0910;
}

.compras_img {
    position: relative;
    right: -7%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.compras_img .rombo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border: 25px solid #9b0910;
    box-shadow: -15px 15px 15px rgb(0, 0, 0, .2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1s;

}

.compras_img .rombo img {
    position: absolute;
    top: -110px;
    left: -250px;
    max-width: 750px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: personas 1s ease forwards;
    animation-delay: 2s;


}

.info .rombo2 {
    position: absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    background: #9b0910;
    transform: rotate(45deg);
    z-index: -1;
    /**/
    opacity: 0;
    animation: rombo2 1s ease forwards;


}

/*ofertas*/

.carousel{
    margin: 70px 0 30px;
    padding:2rem;
}

.socialmedia2 a {
    color: #9b0910;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: 5s;
}


.socialmedia2 a:hover {
    border-color: #222;
}

.socialmedia2 a i {
    font-size: 20px;
    color: #222;
    transform: rotate(-45deg);
}

.cards-wrapper{
    display: flex;
    width: calc(100%/3);
}

.card{
    margin: 0 .5em;
    width:calc(100/4);

}

.titulo h1{
    font-size: 50px;
    text-align: center;
    background-color: #9b0910;
    color: #ffffff;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /*nombre de animacion*/
    animation-delay: 1.3s;
}

/*formulario contacto*/
.container-form{
    width: 100%;
    max-height: 1100px; 
    margin:20px;
    margin-top: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:50px;
    margin-bottom: 500px;

}

.container-form h2{
    margin-bottom: 15px;
    font-size:35px;

}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;

}

.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width:100%;
    margin-bottom: 15px;
    color:#222;
    font-weight: 700;

}

.container-form a i{
    color: #9b0910;
    margin-right: 10px;
}

.container-form form .campo, textarea{
    width:100%;
    padding:15px 10px;
    font-size: 15px;
    border:1px solid #b1afaf;
    margin-bottom: 20px;
    border-radius: 3px;
    outline:0px;
}

.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height:140px ;
    max-height: 150px;

}

.container-form .btn-enviar{
    padding: 15px ;
    font-size: 16px;
    border:none;
    outline: 0px;
    background-color: #9b0910;
    color:white;
    border-radius: 3px;
    cursor:pointer;
    transition: all 300ms ease;

}

.container-form .btn-enviar:hover{
   background-color: #222;

}


@media screen and (max-width:768px) {
  
    .container-form{
        display: flex;
        max-width: 30rem;
        height: 30rem;
        flex-direction: column;
        gap: 1rem;
    }

    .container-form h2{
        margin-bottom: 5px;
        font-size:40px;
        color: #f3eeee;
        text-align: center;
        font-weight: bold;
    
    }

    .container-form p {
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 30px;
        color: #ffffff;
        text-align: center;
    
    }

    .container-form a{
        text-align: center;
        color: #fffafa;
    }

    .container-form a i{
        
        color: #fffafa;
    }
    
    .container-form form textarea{
        max-width: 400px;
        min-width: 150px;
        min-height:150px ;
        max-height: 100px;
    
    }
    
    
}

/*footer*/

footer{
    padding: 2rem;
    text-align: center;
    color: #9b0910;
}
/*keyframes animaciones*/

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes personas {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }

}

@keyframes rombo2 {
    0% {
        right: -40%;
        opacity: 0;
    }

    100% {
        right: -25%;
        opacity: 1;
    }

}

/*fin de animaciones*/

/*responsivo*/

@media screen and (max-width:768px) {

    header {
        padding: 0 25px;
    }

    header img {
        align-items: center;
    }

    .compras_img .rombo img {
        display: none;
    }

    .header .navbar {
        background-color:#f3eeee;
        position: absolute;
        top: 80px;
        left: 0;
        padding: 25px;
        width: 100%;
        flex-direction: column;

    }

    .navbar a {

        font-size: 18px;
        color:#9b0910;
        text-decoration: none;
        font-weight: 500px;
        margin: 0 20px;
        transition: 0.3s;

    }

    .navbar a:hover,
    .navbar a.seleccionada {
        color: hsl(0, 0%, 81%);
    }

    .compras_img {
        width: 280px;
    }

    footer {
        padding: 30px 25px;

    }

    .compras_img .rombo {
        display: none;
    }

    .info .rombo2 {
        position: absolute;
        top: -25%;
        right: -25%;
        width: 768px;
        height:740px;
        background: #9b0910;
        transform: rotate(45deg);
        z-index: -1;
        /**/
        opacity: 0;
        animation: rombo2 1s ease forwards;
    
    
    }

    .info_contexto h1,h3,p {
        color: #fff;
        text-align: center;
    }

    .info_contexto h3
    {
        color: #b1afaf;
        text-align: center;

    }
    .btn {

        display: inline-block;
        padding: 10px 28px;
        background: #ffffff;
        border: 2px solid #9b0910;
        border-radius: 6px;
        box-shadow: 0 0 10px rgb(0, 0, 0, .1);
        font-size: 16px;
        color: #9b0910;
        letter-spacing: 1px;
        text-decoration: none;
        font: weight 600;
        transition: .5s;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        /*nombre de animacion*/
        animation-delay: 1.6s;
        align-items: center;
        
    }

    
.btn:hover {
    background: transparent;
    color: #d4d3d3;
}

footer{
    text-align: center;
}
    


}